<br>
<div class="container-addItem">
  <form>

    <div class="task-form-group">

      <ul class = "task-form-group-list">
        <li>

          <label for="due-date">Due</label>
          {{input id = "to-do-due-date-input" type = "date" autoclose=true value=deadlineInput }}
          <span>Choose Due Date</span>

        </li>

        <li>
          <label for="task-description">Description</label>
          {{input id= "to-do-description-input" value=descriptionInput}}
          <span>Enter task descriptions</span>
        </li>

      </ul>

      <button {{action 'addTask' descriptionInput deadlineInput}}class="btn-add-task" type="submit">
        Add
      </button>
      <!--route-action : point to //routes/application.js/save-->

    </div>


  </form>

</div>
<br>



<ul class="task-options-tab">
  <li><a href="javascript:void(0)" {{action 'showAll'}}>All</a></li>
  <li><a href="javascript:void(0)" {{action 'showCompleted'}}>Complete</a></li>
  <li><a href="javascript:void(0)" {{action 'showIncomplete'}}>Incomplete</a></li>
</ul>

<br>
<div class="task-container-list">
  <div class="list-group">
    <ul id="task-to-do-list">
      {{#each sortFilteredResults as |task|}}
        <li>
          <div class="list-group-item col-md-8">
            <div class="to-do-list checkbox">
              <span>{{one-way-checkbox checked=task.isDone update=(action 'toggleTask' task)}}</span>
            </div>

            <h3>Task ID - {{task.id}}</h3>

            <div class="task description">
              <strong>Description: </strong> {{task.description}}
            </div>

            <div class="deadline">
              <strong>Due: </strong> {{task.deadline}}
            </div>
            <span>
              <button class="btn btn-danger remove" {{action 'delete' task}}>Remove</button>
            </span>
            <!--action (route-action 'delete' task) : point to //routes/application.js/delete-->
            <span>
              <button class="btn btn-default edit" {{action  'editTask' task}}> Edit</button>
            </span>

            <!--action  'editTask' task : point to //controllers/application.js/editTask-->

          </div>

        </li>


      {{/each}}

    </ul>

  </div>
</div>
